#IDE specific files
.idea/*
out
out/*

#resultado del test
Reports
Reports/*
test-output
test-output/*

# Screenshot en el raiz 
*.png

target/classes/*
target/test-classes/*
target/surefire-reports/*
settings.xml
*.iml
build/
.gradle
.gradle/*
classes/
# Eclipse
/bin
/target
/.settings
.classpath
.project